.memoCard {
  flex-wrap: wrap;
}

.memoCardLi {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.memoCardTitle {
  display: inline-block;
  border: 2px solid black;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

.memoCardLi button {
  height: 30px;
}
